# /etc/systemd/system/hidg.service
[Unit]
Description=KHC USB HID gadget setup (Shield remote)
Wants=network-online.target sys-kernel-config.mount
After=network-online.target sys-kernel-config.mount
Requires=sys-kernel-config.mount
RequiresMountsFor=/sys/kernel/config

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe libcomposite
ExecStart=/usr/bin/env python3 /home/dpkay/khc/devices/rbpiz2w-shieldremote/setup_hid.py

[Install]
WantedBy=multi-user.target
